@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay/SFProDisplay-LightItalic.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay/SFProDisplay-Regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay/SFProDisplay-Medium.ttf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay/SFProDisplay-Bold.ttf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay/SFProDisplay-Heavy.ttf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "SFMono";
  src: url("./SFMono/SFMonoHeavy.otf") format("opentype");
  font-weight: 900;
}


